{% include 'mhead.html'%}
<div class="row m-auto">
  <div class="col-md-3"></div>
    <div class="col-md-9">
        <style>
            body {
             background-image: url("https://cms.getwork.org/uploads/Employee_bg_check_a6589aee40.png");
              background-repeat: no-repeat; /* Do not repeat the image */
              background-size: cover;
              height:200px;

            }
             .form-control  {
                border-radius:15px;
              }
        </style>
    </div>
</div>